<form action="/days" method="GET">

<div class="greenKey">
<p>
        <button type="button" class="btn btn-success btn-default btn-sm">
          <span class="glyphicon glyphicon-tasks"></span> Tasks 
        </button> 3 Waiters booked
      </p>

      <p>
        <button type="button" class="btn btn-warning btn-default btn-sm">
          <span class="glyphicon glyphicon-tasks"></span> Tasks 
        </button> Less than 3 waiters booked
      </p>

      <p>
        <button type="button" class="btn btn-danger btn-default btn-sm">
          <span class="glyphicon glyphicon-tasks"></span> Tasks 
        </button> More than 3 waiters booked
      </p>
      </div>

<table class="table table-striped table-dark">
<thead>
  <tr>
    <th>Days</th>
    <th>Waiters</th>
    </tr>
</thead>
<tbody>
{{#each display}}
<tr>
  <td class="{{this.color}}">{{this.day}}</td>
  <td>

{{#each waiters}}

  <div class="item">
    <h6><a href="/waiters/{{this.waiter}}">{{this.waiter}}</a></h6>
  </div>
{{/each}}
  </td>
</tr>
{{/each}}
  </tbody>
  
</table>

</form>

<form action="/reset" method="GET">

  {{#if messages.reset}}
  <div class="alert alert-info">
    <p> {{messages.reset}}</p>
  </div>
  {{/if}}

<button type="submit" name="reset" class="btn btn-dark">Clear All
</button>

</form>

<a href="/home">
<button class="btn btn-dark">Home</button></a>